* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: url('20282351_6271875.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  color: #102940;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 700;
}

#form {
  background: rgba(47, 83, 115); 
  padding: 2rem 2.5rem;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  width: 450px;
}

label {
  display: block;
  color: #C9E7F2;
  font-weight: 500;
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  width: 100%;
  padding: 0.7rem;
  margin-top: 5px;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: #f2faff;
  color: #102940;
  outline: none;
  transition: all 0.3s ease;
}

input::placeholder {
  color: #C9E7F2;
}

input:focus {
  border-color: #99D0F2;
  background-color: #C9E7F2;
  color: #102940;
}

#radio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

#radio label {
  margin-right: 10px;
  color: #C9E7F2;
}

#radio input[type="radio"] {
  margin-right: 5px;
  accent-color: #31b0ff;
}

button {
  width: 100%;
  padding: 0.8rem;
  margin-top: 20px;
  background-color: #C9E7F2;
  border: none;
  border-radius: 8px;
  color: #102940;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #99D0F2;
}

@media (max-width: 400px) {
  #form {
    width: 90%;
    padding: 1.5rem;
  }
}

